{% extends "core/base_coach.html" %}
{% load staticfiles %}

{% block title %}
<title>Aging</title>
{% endblock %}


{% block headscript %}

{% endblock %}


{% block upperstat %}
<br>
{% endblock %}


{% block main %}

	<div class = "row">
		<div class = "span12">
			<h1>Output of {{client.email}}</h1>
		</div>
    <br>
		<div class = "span12">
			<br><br>
			<h3>
			{% ifequal client.lifespan 0 %}
			You have to finish all questionnaires.

			{% else %}

			Your expected life span is {{client.lifespan}}.
			
			{% endifequal %}

			</h3><br>
		</div>
	</div>	


{% endblock %}