{% extends "core/base_main.html" %}
{% load staticfiles %}

{% block title %}
<title>Onboarding Question</title>
{% endblock %}


{% block headscript %}

{% endblock %}

{% block addtionalstyle %}
<style>
    input, textarea, .uneditable-input {
      width: 100%;
    }
</style>
{% endblock %}


{% block upperstat %}
<br>
{% endblock %}


{% block main %}

  <div class="row">
    <div class="col-12">
      <h1><p>In-Person Onboarding Visit</p></h1><br>
      <h3><p>[1/4] Motivation for Joining OptMe</p></h3>
    </div>
  </div>
  
  <br>
  {% if form.errors %}
    <font color="red">Some values are missed.</font>
  {% endif %}
  <br>
  <br>

  <section id="onboarding">
  <div class="row">
    <div class="col-12">

      <form action="{{ app_path }}" method="POST">
        {% csrf_token %}

        {{ form.user }}

        <div class="form-group">
          
        	<label for="id_first_name">{{ form.choice_reason.label }}</label>
          {% if form.choice_reason.errors %}
            <font color="red">required</font>
          {% endif %}            
        
          <div class="form-control" >
            {{ form.choice_reason}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          
        	<label for="id_last_name">{{ form.health_goal.label }}</label>
          {% if form.health_goal.errors %}
          <br>
            <font color="red">required</font>
          {% endif %} 
        
          <div class="form-control">
            {{ form.health_goal}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_date_of_birth">{{ form.make_change.label }}</label>
          {% if form.make_change.errors %}
            <br>
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control form-inline">
            {{ form.make_change}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_marital_status">{{ form.motivate_join.label }}</label>
          {% if form.motivate_join.errors %}
            <br>
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.motivate_join}} 
          </div>
        </div>
        <br>


        <div class="form-group">
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  </section>

{% endblock %}