{% extends "core/base_coach.html" %}
{% load staticfiles %}

{% block title %}
<title>Onboarding Question</title>
{% endblock %}


{% block addtionalstyle %}
<style>
    input, textarea, .uneditable-input {
      width: 100%;
    }
</style>
{% endblock %}

{% block headscript %}

{% endblock %}


{% block upperstat %}
<br>
{% endblock %}


{% block main %}

  <div class="row">
    <div class="col-12">
      <h1><p>In-Person Onboarding Visit</p></h1><br>
      <h3><p>[2/4] Live to 100 and Diet History</p></h3>
    </div>
  </div>
  
  <br>
  {% if form.errors %}
    <font color="red">Some values are missed.</font>
  {% endif %}
  <br>
  <br>

  <section id="pre-questionnaire">
  <div class="row">
    <div class="col-12">

      <form action="{{ app_path }}" method="POST">
        {% csrf_token %}

        {{ form.user }}

        <div class="form-group">

        	<label for="id_first_name">{{ form.regular_exercise.label }}</label>
          {% if form.regular_exercise.errors %}
            <font color="red">required</font>
          {% endif %}            

          <div class="form-control">
            {{ form.regular_exercise}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          
        	<label for="id_last_name">{{ form.many_exercise.label }}</label>
          {% if form.many_exercise.errors %}
          
            <font color="red">required</font>
          {% endif %} 
        
          <div class="form-control" >
            {{ form.many_exercise}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_gender">{{ form.leisure.label }}</label>
          {% if form.leisure.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control" >
            {{ form.leisure}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_date_of_birth">{{ form.limit_activity.label }}</label>
          {% if form.limit_activity.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control form-inline" >
            {{ form.limit_activity}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_marital_status">{{ form.limit_activity_explain.label }}</label>
          {% if form.limit_activity_explain.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.limit_activity_explain}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_in_person_contact">{{ form.restrict_food.label }}</label>
          {% if form.restrict_food.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.restrict_food}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.restrict_food_explain.label }}</label>
          {% if form.restrict_food_explain.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.restrict_food_explain}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.many_meat.label }}</label>
          {% if form.many_meat.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.many_meat}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.how_bbq.label }}</label>
          {% if form.how_bbq.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.how_bbq}} 
          </div>
        </div>    
        <br>


        
        <div class="form-group">
          <label for="id_formal_education">{{ form.many_dairy.label }}</label>
          {% if form.many_dairy.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.many_dairy}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.calcium.label }}</label>
          {% if form.calcium.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.calcium}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.snack.label }}</label>
          {% if form.snack.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.snack}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.red_meat.label }}</label>
          {% if form.red_meat.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.red_meat}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.sweet.label }}</label>
          {% if form.sweet.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.sweet}} 
          </div>
        </div>    
        <br>


        <div class="form-group">
          <label for="id_formal_education">{{ form.carbohydrate.label }}</label>
          {% if form.carbohydrate.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.carbohydrate}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.having_diet.label }}</label>
          {% if form.having_diet.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.having_diet}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.iron.label }}</label>
          {% if form.iron.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.iron}} 
          </div>
        </div>    
        <br>


        <div class="form-group">
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  </section>

{% endblock %}