{% extends "core/base_main.html" %}
{% load staticfiles %}

{% block title %}
<title>Onboarding Question</title>
{% endblock %}


{% block addtionalstyle %}
<style>
    input, textarea, .uneditable-input {
      width: 100%;
    }
</style>
{% endblock %}

{% block headscript %}

{% endblock %}


{% block upperstat %}
<br>
{% endblock %}


{% block main %}

  <div class="row">
    <div class="col-12">
      <h1><p>In-Person Onboarding Visit</p></h1><br>
      <h3><p>[3/4] Physical Measurements</p></h3>
    </div>
  </div>
  
  <br>
  {% if form.errors %}
    <font color="red">Some values are missed.</font>
  {% endif %}
  <br>
  <br>

  <section id="pre-questionnaire">
  <div class="row">
    <div class="col-12">

      <form action="{{ app_path }}" method="POST">
        {% csrf_token %}

        {{ form.user }}

        <div class="form-group">

        	<label for="id_first_name">{{ form.weight_18y.label }}</label>
          {% if form.weight_18y.errors %}
            <font color="red">required</font>
          {% endif %}            

          <div class="form-control">
            {{ form.weight_18y}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          
        	<label for="id_last_name">{{ form.weight_12m.label }}</label>
          {% if form.weight_12m.errors %}
          
            <font color="red">required</font>
          {% endif %} 
        
          <div class="form-control" >
            {{ form.weight_12m}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_gender">{{ form.weight_change.label }}</label>
          {% if form.weight_change.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control" >
            {{ form.weight_change}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_date_of_birth">{{ form.weight_intent.label }}</label>
          {% if form.weight_intent.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control form-inline" >
            {{ form.weight_intent}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_marital_status">{{ form.diet_program.label }}</label>
          {% if form.diet_program.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.diet_program}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_in_person_contact">{{ form.past_diet_program.label }}</label>
          {% if form.past_diet_program.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.past_diet_program}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.how_program.label }}</label>
          {% if form.how_program.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.how_program}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.maintain_weight.label }}</label>
          {% if form.maintain_weight.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.maintain_weight}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.family_weight.label }}</label>
          {% if form.family_weight.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.family_weight}} 
          </div>
        </div>    
        <br>


        
        <div class="form-group">
          <label for="id_formal_education">{{ form.height.label }}</label>
          {% if form.height.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.height}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.weight.label }}</label>
          {% if form.weight.errors %}
            
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.weight}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.percent_fat.label }}</label>
          {% if form.percent_fat.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.percent_fat}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.heart_rate.label }}</label>
          {% if form.heart_rate.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.heart_rate}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <label for="id_formal_education">{{ form.blood_pressure.label }}</label>
          {% if form.blood_pressure.errors %}
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.blood_pressure}} 
          </div>
        </div>    
        <br>

        <div class="form-group">
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  </section>

{% endblock %}