{% extends "core/base.html" %}
{% load staticfiles %}

{% block additional_styles %}
  <style type="text/css">
    ul {
      list-style-type:none;
    }

    li {
      margin-right: 10px;
    }

  </style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><p>Preliminary Questionnaire</p></h1>
      <h3><p>[3/4] Personal Medical History</p></h3>
    </div>
  </div>

  <br>
  {% if form.errors %}
    <font color="red">Some values are missed.</font>
  {% endif %}
  <br>
  <br>

  <section id="pre-questionnaire">
  <div class="row">
    <div class="col-12">

      <form action="{{ app_path }}" method="POST">
        {% csrf_token %}
        {{ form.user }}

        <div class="form-group">
          <div class="container">
            <label for="id_first_name">1. {{ form.bowel_movement.label }}</label>
            {% if form.bowel_movement.errors %}
            <br>
              <font color="red">required</font>
            {% endif %}            
          </div>
          <div class="form-control">
            {{ form.bowel_movement}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <div class="container">
            <label for="id_last_name">2. {{ form.skin_cancer.label }}</label>
            {% if form.skin_cancer.errors %}
            <br>
              <font color="red">required</font>
            {% endif %} 
          </div>
          <div class="form-control">
            {{ form.skin_cancer}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_gender">3. {{ form.heart_attack.label }}</label>
          {% if form.heart_attack.errors %}
            <br>
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.heart_attack}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_date_of_birth">4. {{ form.doctor_appointment.label }}</label>
          {% if form.doctor_appointment.errors %}
            <br>
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.doctor_appointment}} 
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="id_marital_status">5. {{ form.have_disease.label }}</label>
          {% if form.have_disease.errors %}
            <br>
              <font color="red">required</font>
            {% endif %} 
          <div class="form-control">
            {{ form.have_disease}} 
          </div>
        </div>
        <br>


        <div class="form-group">
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  </section>
</div>
{% endblock content %}