{% extends "core/base_client.html" %}
{% load staticfiles %}

{% block title %}
<title>Nutrition</title>
{% endblock %}

{% block additionalstyle %}
<link rel="stylesheet" href="{% static 'theme/css/compiled/index.css' %}" type="text/css" media="screen" />    
<link rel="stylesheet" href="{% static 'theme/css/compiled/tables.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block headscript %}
{% endblock %}

{% block sidebar %}
<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">

        <li>
            <a href="{% url 'main' %}">
                <i class="icon-home"></i>
                <span>Welcome</span>
            </a>
        </li>            
        <li>
            <a href="{% url 'physical' %}">
                <i class="icon-signal"></i>
                <span>Measurements</span>
            </a>
        </li>            
        <li>
            <a href="{% url 'activity' %}">
                <i class="icon-signal"></i>
                <span>Activity</span>
            </a>
        </li>
        <li>
            <a href="{% url 'nutrition' %}">
                <i class="icon-code-fork"></i>
                <span>Nutrition</span>
            </a>
        </li>
        <li class="active">
          <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="{% url 'cvd' %}">
                <i class="icon-picture"></i>
                <span>CVD Health</span>
            </a>
        </li>
        <li>
            <a href="{% url 'bloodwork' %}">
                <i class="icon-group"></i>
                <span>Blood Work</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
{% endblock %}


{% block upperstat %}
<!-- upper main stats -->
<div id="main-stats">
  <div class="row-fluid stats-row">
    <div class="span4 stat">
      <div class="data">
        <span class="number">{% if lifespan %} {{lifespan}} {% else %} ?? {% endif %} years</span>
        Expected Life Span
      </div>
      <span class="date"></span>
    </div>
    <div class="span4 stat">
      <div class="data">
        <span class="number">120 | 90 mmHg</span>
        Blood Pressure
      </div>
      <span class="date">This week</span>
    </div>
    <div class="span4 stat">
      <div class="data">
        <span class="number">240 mg/dL</span>
        Total Cholesterol
      </div>
      <span class="date">This month</span>
    </div>
  </div>
</div><!-- end upper main stats -->
{% endblock %}

{% block main %}
<br><br>
{% ifequal lifespan 0 %}
You have to finish all questionnaires for getting expected life span.

{% else %}

Your expected life span is {{lifespan}}.

{% endifequal %}
<br><br>
Full CVD BMI graph
<br><br>
Coach Tip
{% endblock %} <!-- End graph -->
