{% extends "core/base_main.html" %}
{% load staticfiles %}

{% block title %}
<title>Diet and Nutrition</title>
{% endblock %}

{% block additionalstyle %}
<link rel="stylesheet" href="{% static 'theme/css/compiled/index.css' %}" type="text/css" media="screen" />    
<link rel="stylesheet" href="{% static 'theme/css/compiled/tables.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block headscript %}
{% endblock %}

{% block sidebar %}
<!-- sidebar -->
<div id="sidebar-nav">
{% if user.is_authenticated %}
    <ul id="dashboard-menu">

        <li>
            <a href="/">
                <i class="icon-home"></i>
                <span>Summary</span>
            </a>
        </li>            
        <li>
            <a href="#">
                <i class="icon-signal"></i>
                <span>Measurements</span>
            </a>
        </li>            
        <li>
            <a href="#">
                <i class="icon-signal"></i>
                <span>Activity</span>
            </a>
        </li>
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/main/nutrition">
                <i class="icon-code-fork"></i>
                <span>Nutrition</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-picture"></i>
                <span>CVD Health</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Blood Work</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-edit"></i>
                <span>Aging</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-cog"></i>
                <span>My Info</span>
            </a>
        </li>
    </ul>
    {% endif %}
</div>
<!-- end sidebar -->
{% endblock %}


{% block upperstat %}
<!-- upper main stats -->
<div id="main-stats">
  <div class="row-fluid stats-row">
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (g)</span>
        Less Calories
      </div>
      <span class="date">Today</span>
    </div>
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (g)</span>
        Less Saturated Fat
      </div>
      <span class="date">This week</span>
    </div>
    <div class="span3 stat">
      <div class="data">
        <span class="number">x (mg)</span>
        Less Sodium
      </div>
      <span class="date">a month ago</span>
    </div>
    <div class="span3 stat last">
      <div class="data">
        <span class="number">x (g)</span>
        More Fiber
      </div>
      <span class="date">last six months</span>
    </div>
  </div>
</div><!-- end upper main stats -->
{% endblock %}

{% block main %}
<!--       <div class="span6">  
        <h4>Current dietary intake</h4>
        <div id='diet_div' ></div>
      </div> -->

      <div class="span6">
        <h4>Current dietary intake</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="span3">
                <!--                   <input type="Date"> -->
                Nutrient
              </th>
              <th class="span3">
                Intake
              </th>
              <th class="span3">
                Need
              </th>
              <th class="span3">
                <span class="line"></span>Difference
              </th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </div>
{% endblock %} <!-- End graph -->
