{% extends "core/base_client.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
<title>Personal</title>
{% endblock %}


{% block sidebar %}
<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">

        <li>
            <a href="{% url 'main' %}">
                <i class="icon-home"></i>
                <span>Welcome</span>
            </a>
        </li>            
        <li>
            <a href="{% url 'physical' %}">
                <i class="icon-signal"></i>
                <span>Measurements</span>
            </a>
        </li>            
        <li>
            <a href="{% url 'activity' %}">
                <i class="icon-signal"></i>
                <span>Activity</span>
            </a>
        </li>
        <li>
            <a href="{% url 'nutrition' %}">
                <i class="icon-code-fork"></i>
                <span>Nutrition</span>
            </a>
        </li>
        <li>
            <a href="{% url 'cvd' %}">
                <i class="icon-picture"></i>
                <span>CVD Health</span>
            </a>
        </li>
        <li>
            <a href="{% url 'bloodwork' %}">
                <i class="icon-group"></i>
                <span>Blood Work</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
{% endblock %}


{% block upperstat %}

{% endblock %}

{% block main %}
<br><br>

<div class="row">
  <div class="col-12">
    <h1><p>Account settings</p></h1><br>
  </div>
</div>

<br>
<br>


<div class="row">
  <div class="col-6">

    <h3>
      {% if client.first_name %}
        {{client.first_name}}
      {% else %}
        Please Start the questionnaire
      {% endif %}
      &nbsp;
      {% if client.last_name %}
        {{client.last_name}}
      {% else %}
        
      {% endif %}
    </h3> <br><br>
    Age : {{age}} <br><br>
    Gender : {% ifequal client.gender 1 %} Male {% else %} Female {% endifequal %} <br><br>
    Email address : {{client.email}}
  </div>
  <div class="col-6">

    <h3> Your Personal Coach</h3><br>
    <div class = "row">
      <div class = "col-4">
        <img src="{% static 'img/personal_coach.png' %}" class="img-responsive" alt="Responsive image"><br>
      </div>
      <div class = "col-8">
        Dr. Whitney Evans, RD., PhD.<br>
        {{client.coach}}<br><br>
        Whitney has been a professional nutritionist for 15 years. She is a Registered Dietician (RD) and Licenced Dietician/Nutritionist. Whitney holds a Ph.D in Nutritional Epidemiology from Tufts University, and a Masters in Clinical Nutrition from Boston University. Whitney has been published 16 academic journals and textbooks.
      </div>
    </div>
    
  </div>
</div>

<br>

<div class="row">
  <div class="col-12">
    <br>
    <h3> Update Questionnaire Responses </h3><br><br>
      {% if last_submit %}
        Last submitted on {{ last_submit|timesince }} ago
        <br><br>
      <a href = "{% url 'preliminary1' %}">Re-take the Questionnaire</a>
      {% else %}
        You did not finsh the questionnaire yet.
        <br><br>
      <a href = "{% url 'preliminary1' %}">Start the Questionnaire</a>
      {% endif %}
      
    
  </div>
</div>

{% endblock %} <!-- End graph -->
